<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Budget 159 Milliards - Accueil</title>
  <link rel="stylesheet" href="/static/acceuil.css" />
</head>
<body>

  <div class="header">
    
  </div> 

  <div class="container">
    <div class="left-section">
      <h1 class="logo">MyGouvernement.be</h1>
      <h1>Budget de la Belgique</h1>
      <h2 class="small">159 000 000 000 € à répartir</h2>
      <div class="text-box">
        Lorem ipsum dolor sit amet consectetur. Dui fermentum nerus fermentum auctor odio in auguet id. Sed nec accumsan tortor brachard. Faucibus volutpat auctor nust porta odio. Lectus vitae habitant a sit et velit bibendum ultrices tempor tortor. Mattis nerus et dignissim gravida. Diam nullam in quis adipiscing enim mollis ipsum imperdiet. Tellus pretium et lorem sit. Rutrum amet mast apustur porttitor lorem. Arcu ultrices fusce hac mauris.
      </div>

      <a href="/startbudgeting" class="start-btn" id="btn-commencer">
        Commencer le jeu
      </a>
    </div>
    <div class="right-section">
      <div class="carousel-container">
        <button class="carousel-arrow left" onclick="previousImage()">‹</button>
        <img id="carouselImage" class="carousel-image" src="./static/neutral.png" alt="Character"> <!-- Image initiale -->
        <button class="carousel-arrow right" onclick="nextImage()">›</button>
      </div>
    </div>




    
    <script>
      const images = [
    './static/neutral.png',
    './static/content.png',
    './static/low_infra.png',
    './static/low_education.png',
    './static/low_defense.png',
    './static/low_social.png'
];

let currentIndex = 0;

function updateImage() {
    const imgElement = document.getElementById('carouselImage');
    if (imgElement && images[currentIndex]) {
        imgElement.src = images[currentIndex];
    }
}

function nextImage() {
    currentIndex = (currentIndex + 1) % images.length;
    updateImage();
}

function previousImage() {
    currentIndex = (currentIndex - 1 + images.length) % images.length;  // Décrémenter l'indice, boucle à la fin
    updateImage();
}


document.addEventListener('DOMContentLoaded', function() {
    updateImage();
});


    </script>

    
</body>
</html>